@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fallback for touch devices */
@media (hover: none) {
  .custom-cursor,
  .cursor-ring {
    display: none;
  }
}

:root {
  line-height: 1.5;
}

body,
ul > li {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
.custom {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.customText {
  font-weight: bold;
  font-style: italic;
}
